body {
    font: 400 20px/30px 'montserratthin', Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    max-width: 1362px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

h1{
    padding: 50px 0 50px;
    color: #FFFFFF;
    margin: 0 auto;
    position: absolute;
    line-height: 36px;
    bottom: 140px;
    right: 37px;

    @media (min-width: 576px){
        bottom: 300px;
        right: 41px;
    }

    @media (min-width: 992px){
        bottom: 400px;
        right: 350px;
    }

}

h3{
    margin: 0;
    padding: 0;
}

h2{
    padding: 20px 50px 0 0;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    background: linear-gradient(33deg, #F0145A 1%,#EF8080 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;

    @media (min-width: 992px){
        font-size: 38px;
        line-height: 46px;
        padding: 0 ;
    }
}

p{
    margin: 0;
}

.grey-wrapper{
    background: $grey-bg;
}

.white-wrapper{
    background: $white;
}

.link{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $blue-link;
    text-transform: uppercase;
}

.icon::after{
    content: "\ea50";
    font-family: 'icomoon' !important;
}

.active-h{
    background: linear-gradient(33deg, #EF8080 1%, #F0145A 99%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #0B2349;
}

