body {
    font: 400 20px/30px 'montserratthin', Arial, Helvetica, sans-serif;
}

#wrapper {
    width: 100%;
    overflow: hidden;
}

.container {
    width: 1362px;
    padding: 0 20px;
    margin: 0 auto;
}

img {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

ul{
    margin: 0;
    padding: 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

h3{
    margin: 0;
    padding: 0;
}

h2{
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #F0145A;
}

p{
    margin: 0;
}

.grey-wrapper{
    background: $grey-bg;
}

blockquote{
    margin: 0;
}

.white-wrapper{
    background: $white;
}

.link{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: $blue-link;
    text-transform: uppercase;
}