.violet-wrapper{
    background: $violet;
    border-radius: 0px 0px 12px 12px;

    &:after{
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        background-color: $grey-sh-1;
        height: 10px;
        width: calc(100% - 20px);
        border-radius: 0px 0px 12px 12px;

    }
}

.banner{
    text-align: center;
    
    padding-bottom: 12px;

    &__container{
        width: 100%;
        position: relative;
    }

    &__bg{
        padding: 0 0 0 20px;
        width: 116%;
        max-width: none;

            @media (min-width:992px) {
                width: 100%;
            }
    }
}



.skill{
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    a{
        @media (min-width:992px) {
            margin: 10px 10px;
        }
    }

    &__list{

        display: block;

            @media (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
            }
    }

    &__item{
        width: 100%;
        padding: 45px 45px 18px 10px;

            @media (min-width:768px) {
                width: calc(100% / 2);
                padding: 60px 45px 28px 29px;
            }

            @media (min-width:992px) {
                width: calc(100% / 3);
                padding: 45px 45px 67px 19px;
            }

    }

    &:after{
        content: "";
        position: absolute;
        left: 20px;
        right: 20px;
        background-color: $grey-sh-2;
        height: 20px;
        width: calc(100% - 40px);
        border-radius: 0px 0px 12px 12px;
    }

}

.skill__item>h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $blue-link;
    padding: 28px 4px 15px 0px;
}

// white wrapper


.team{

    padding: 50px 0;
    
    @media (min-width:768px) {
        padding: 50px 74px;
    }

    @media (min-width:992px) {
        padding: 50px 0;
    }

    
    &__wrap{
        background: $grey-team;

            @media (min-width:992px) {
                max-width: 1300px;
                margin: 70px 0;
                display: flex;
            }

    }

    &__photo{
        width: 100%;
        text-align: center;

            @media (min-width:992px) {
                width: 41%;
            }
    }

    &__info{
        width: 100%;
        padding: 0 30px 23px;

            @media (min-width:992px) {
                width: 70%;
            }
    }

    &__link{
        margin: 0 36px;
    }
}

.team__photo>img{
    border-radius: 12px 12px 0px 0px;

        @media (min-width:768px) {
            width: 100%;
        }

        @media (min-width:992px) {
            width: auto;
            border-radius: 12px 0px 0px 12px;
        }
}

.quote{
    margin: 0;
    padding: 0 0 10px;

    @media (min-width:768px) {
        padding: 0 10px 43px;
    }

    @media (min-width:992px) {
        padding: 0 0 10px;
    }
   
}

.name,
.position{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:$grey-team2;
    padding: 4px 0;
}

.position{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

// partners

.partners{
    text-align: center;

    &__grid{
        display: flex;
        flex-direction: column;

        @media (min-width:768px) {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: 120px 120px 120px;
            text-align: center;
        }

        @media (min-width:992px) {
            grid-template-columns: repeat(4,1fr);
        }
    }

    &__title{
        color: $dark-blue;
        padding: 57px 0 30px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-transform: uppercase;
    }
}

#hillel{
    background: $hillel;
    padding: 37px 0;
}

#wannabiz{
    background: $wannabiz;
    padding: 37px 0;
    
}

#tapgerine{
    background: $tapgerine;
    padding: 37px 0;
}

#tdlook{
    background: $tdlook;
    padding: 37px 0;
}

#orangear{
    background: $orangear;
    padding: 37px 0;
}

#adtelligent{
    background: $adtelligent;
    padding: 37px 0;
}

#clickky{
    background: $clickky;
    padding: 25px 0;
    display: none;

        @media (min-width:768px) {
            display: block;
        }
}

#ecoleasing{
    background: $ecoleasing;
    padding: 18px 0;
    display: none;

        @media (min-width:768px) {
            display: block;
        }
}

#infratek{
    background: $infratek;
    padding: 29px 0;
    display: none;

        @media (min-width:768px) {
            display: block;
        }
}

#city-park{
    background: $city-park;
    padding: 44px 0;
    display: none;

        @media (min-width:768px) {
            display: block;
        }
}

#art-print{
    background: $art-print;
    padding: 32px 0;
    display: none;

        @media (min-width:768px) {
            display: block;
        }
    }

#ultimate-card{
    background: $black;
    padding: 10px 0;
    display: none;

        @media (min-width:768px) {
            display: block;
        }
}

// grey wrapper

.publications{
    margin: 0px 10px 0px 0;

    &__container{
        padding: 30px 0 20px 10px;

        @media (min-width:768px) {
            margin:-5px 51px 0px 48px;
            padding: 0px 0 20px 0;
        }

        @media (min-width:992px) {
            margin: -10px 10px;
            padding: 30px 0 20px 10px;
        }
    }

    &__h2{
        margin: 0 20px;

        @media (min-width:768px) {
            margin: -4px 17px 30px -23px;
        }

        @media (min-width:992px) {
            margin: 10px ;
        }
    }
}

.article{
    display: block;
    border-bottom: 2px solid $grey-separator;
    padding-bottom: 30px;

        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
        }

    &__container{
        max-width: 100%;
        background: $white;
        margin: 25px 22px;
        text-align: center;
        border-radius: 8px 8px 0px 0px;

            @media (min-width:768px) {
                max-width: calc(100% / 2 - 20px);
                margin: 0 10px 20px;
            }

            @media (min-width:992px) {
                max-width: calc(100% / 3 - 20px);
                margin: 0 10px;
            }
    }

    &__date{
        color: $grey-team2;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    &__link,
    &__text{
        padding: 0 33px 10px 23px;
        text-align: left;
    }

    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 33px 24px 23px;
    }

    &__link{
        border-bottom: 4px solid $grey-separator;
        max-width: 380px;
        margin: 0 auto;

        h4{
            padding: 0 36px;

            @media (min-width:768px) {
                padding: 0;
            }

        }
    }

}

.article img{
    width: 100%;
}

.publications__link{
    p{
        padding: 0 20px;
    
        @media (min-width:768px) {
            padding: 0 ;
        }

        @media (min-width:992px) {
            padding: 0 10px ;
        }
    }
}
