
// grey wrapper

.publications{
    margin: 0px 10px 0px 0;

    &__container{
        padding: 30px 0 20px 10px;

        @media (min-width:768px) {
            margin:-5px 51px 0px 48px;
            padding: 0px 0 20px 0;
        }

        @media (min-width:992px) {
            margin: -10px 10px;
            padding: 65px 0 20px 10px;
        }
    }

    &__h2{
        margin: 0 20px;

        @media (min-width:768px) {
            margin: -4px 17px 30px -23px;
        }

        @media (min-width:992px) {
            margin: 10px ;
        }
    }
}

.article{
    display: block;
    border-bottom: 2px solid $grey-separator;
    padding-bottom: 30px;

        @media (min-width:768px) {
            display: flex;
            flex-wrap: wrap;
        }

    &__container{
        max-width: 100%;
        background: $white;
        margin: 25px 22px;
        text-align: center;
        border-radius: 8px 8px 0px 0px;

            @media (min-width:768px) {
                max-width: calc(100% / 2 - 20px);
                margin: 0 10px 20px;
            }

            @media (min-width:992px) {
                max-width: calc(100% / 3 - 20px);
                margin: 0 10px;
            }
    }

    &__date{
        color: $grey-team2;
        font-weight: 700;
        font-size: 12px;
        line-height: 15px;
    }

    &__link,
    &__text{
        padding: 0 33px 10px 0;
        text-align: left;
    }

    &__text{
        font-weight: 400;
        font-size: 14px;
        line-height: 22px;
        padding: 13px 33px 24px 34px;
    }

    &__link{
        border-bottom: 4px solid $grey-separator;
        margin: 0 32px;
    }

    &__title{
        padding: 0;
    }
}

.article img{
    width: 100%;
}

.publications__link{
    p{
        padding: 0 20px;

        @media (min-width:768px) {
            padding:  39px 0px;
        }
       
        @media (min-width:992px) {
            padding: 0 10px ;
        }
    }
}
