#header {
    display: flex;
    position: absolute;
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 50px 0;
}

.menu-wrap,
.contacts,
.header__menu,
.lang {
    display: flex;
    align-items: center;
}

.menu-wrap{
    flex-direction: column;
    align-items: flex-end;

    & a{
        display: inline;
        color: $white;
        padding: 4px 11px;
    }
}

.contacts{
    position: relative;
}

.lang {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    padding: 0 10px;
}

.adress{
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.phone,
.menu{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
}

.adress,
.social,
.phone{

    &::before{
        content: '';
        position: absolute;
        height:6px;
        width: 6px;
        background-color: white;
        border-radius: 50%;
        top: 12px;
        left: auto;
        margin: 0 -4px;
    }
}

.active {
    border: 1px solid $pink-a;
    background: $pink-a;
    border-radius: 8px;
}