#consistent,
#customer-oriented,
#innovative,
#business-oriented{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    
}


#consistent{
    
    &:checked{
        ~.switcher__info{
            .slide{

                &:nth-child(1){
                    display: block;
                }
            }
        }
    }
}

#customer-oriented{
    
    &:checked{
        ~.switcher__info{
            .slide{

                &:nth-child(2){
                    display: block;
                }
            }
        }
    }
}

#innovative{
    
    &:checked{
        ~.switcher__info{
            .slide{

                &:nth-child(3){
                    display: block;
                }
            }
        }
    }
}

#business-oriented{
    
    &:checked{
        ~.switcher__info{
            .slide{

                &:nth-child(4){
                    display: block;
                }
            }
        }
    }
}


.switcher{

    color: $white;

    &__container{
        display: block;

        @media (min-width: 768px) {
            display: flex;

        }

    }

    &__item{
        padding: 10px 15px;
        font-weight: 700;
        font-size: 33px;
        line-height: 33px;

        @media (min-width: 768px) {
            padding: 20px 46px;
            font-weight: 700;
            font-size: 38px;
            line-height: 46px;
        }

    }

    &__info{
        padding: 35px 10px 37px;
        font-weight: 400;
        font-size: 19px;
        line-height: 30px;

        @media (min-width: 768px) {
            padding-left: 75px;
            max-width: 60%;
            font-weight: 400;
            font-size: 19px;
            line-height: 30px;
        }
        
        .slide{
            display: none;
        }
    }
}

.switcher__wrapp{
    display: flex;
    width: 456px;
    align-items: center;
    width: 100%;
    overflow: auto;

    @media (min-width: 768px) {
        border-right: 4px solid $grey-line;
        flex-direction: column;
        width: 40%;
        align-items: flex-end;
    }
}

.subtitle{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 103px 32px 0;

    @media (min-width: 768px) {
        font-weight: 700;
        font-size: 30px;
        line-height: 37px;
        padding: 50px 3px 32px;
    }

}

.switcher__info-text{
    padding: 19px 61px 0 0;

    @media (min-width: 768px) {
        padding: 0;
    }
}

.switcher__item>label{
    cursor: pointer;
}