$white:#FFFFFF;
$pink-a:#F0145A;
$violet:linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
$grey-line:rgba(255, 255, 255, 0.3);
$pink-text:linear-gradient(90.13deg, #EF8080 0.84%, #F0145A 99.96%);
$blue-link:#24A3FF;
$pink-h2:linear-gradient(90.13deg, #F0145A 0.84%, #EF8080 99.96%);
$grey-sh-1:#CACADB;
$grey-sh-2:#E7E7F2;
$grey-team:#F5F5FA;
$grey-team2:#B3B3BA;
