.violet-wrapper{
    background: $violet;
    border-radius: 0px 0px 12px 12px;

    &:after{
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        background-color: $grey-sh-1;
        height: 10px;
        width: calc(100% - 20px);
        border-radius: 0px 0px 12px 12px;

    }
}

.banner{
    text-align: center;
    position: relative;
}

.background {
    min-height: 100%;
    height: auto;
}
  
.scroll-down{
    position: absolute;
    left: 50%;
    bottom: 12px;
    transform: translateX(-50%);

    @media (min-width:768px) {
        bottom: 30px;
    }
}

.hvr-sink {
    display: inline-block;
    vertical-align: middle;
    transform: perspective(1px) translateZ(0);
    transition-property: transform;
    transition-timing-function: ease-out;
  }
  .hvr-sink:hover{
    transform: translateY(8px);
  }

.skill{
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    a{
        @media (min-width:992px) {
            margin: 10px 10px;
        }
    }

    &__list{

        display: block;

            @media (min-width:768px) {
                display: flex;
                flex-wrap: wrap;
            }
    }

    &__item{
        width: 100%;
        padding: 45px 45px 18px 10px;

            @media (min-width:768px) {
                width: calc(100% / 2);
                padding: 60px 45px 28px 29px;
            }

            @media (min-width:992px) {
                width: calc(100% / 3);
                padding: 45px 45px 67px 19px;
            }

    }

    &:after{
        content: "";
        position: absolute;
        left: 20px;
        right: 20px;
        background-color: $grey-sh-2;
        height: 20px;
        width: calc(100% - 40px);
        border-radius: 0px 0px 12px 12px;
    }

}

.skill__item>h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $blue-link;
    padding: 28px 4px 15px 0px;
}
