.violet-wrapper{
    background: $violet;
    border-radius: 0px 0px 12px 12px;

    &:after{
        content: "";
        position: absolute;
        left: 10px;
        right: 10px;
        background-color: $grey-sh-1;
        height: 10px;
        width: calc(100% - 20px);
        border-radius: 0px 0px 12px 12px;

    }
}

.banner{
    text-align: center;
    position: relative;
    padding-bottom: 28px;

    &__container{
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.banner_bg{
    width: 50%;
}

h1{
    padding: 384px 0 316px;
    color: $white;
    margin: 0;
}

#consistent,
#customer-oriented,
#innovative,
#business-oriented{
    opacity: 0;
    position: absolute;
    visibility: hidden;
    
}

// #customer-oriented {
//     &:checked{
//         .switcher-info{
//             display: none;
//         }
//     }
// }

.switcher{
    color: $white;

    &__container{
        display: flex;
        max-width: 1200px;
    }

    &__item{
        padding: 20px 46px;
        font-weight: 700;
        font-size: 38px;
        line-height: 46px;
    }
}

.switcher__wrapp{
    display: flex;
    flex-direction: column;
    width: 40%;
    border-right: 4px solid $grey-line;
    align-items: flex-end;
}

.switcher-info{
    padding-left: 30px;
    max-width: 60%;
    font-weight: 400;
    font-size: 19px;
    line-height: 30px;

    &__text{
        padding: 0 48px;
    }
}

.subtitle{
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    padding: 79px 54px 10px;
}

.switcher__item>label{
    cursor: pointer;
}

// skills

.link{
    color: $blue-link;
}


.skill{
    color: $white;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;

    &__list{
        display: flex;
        flex-wrap: wrap;
    }

    &__item{
        width: calc(100% / 3);
        padding: 45px 45px 67px 19px;
    }

    &:after{
        content: "";
        position: absolute;
        left: 20px;
        right: 20px;
        background-color: $grey-sh-2;
        height: 20px;
        width: calc(100% - 40px);
        border-radius: 0px 0px 12px 12px;
    }

}

.skill__item>h3{
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: $blue-link;
    padding: 15px 4px 15px 0px;
}
