.white-wrapper{
    background: $white;
}

.team{
    
    &__wrap{
        max-width: 1300px;
        background: $grey-team;
        margin: 70px 0;
        display: flex;
    }

    &__photo{
        width: 30%;

    }

    &__info{
        width: 70%;
    }

    &__link{
        margin: 0 36px;
    }
}

.name,
.position{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    color:$grey-team2;
    padding: 0 0 0 41px;
}

.position{
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
}

// partners

.partners{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: 120px 120px 120px;
    text-align: center;
}

#hillel{
    background: $hillel;
    padding: 37px 0;
}

#wannabiz{
    background: $wannabiz;
    padding: 37px 0;
}

#tapgerine{
    background: $tapgerine;
    padding: 37px 0;
}

#tdlook{
    background: $tdlook;
    padding: 37px 0;
}

#orangear{
    background: $orangear;
    padding: 37px 0;
}

#adtelligent{
    background: $adtelligent;
    padding: 37px 0;
}

#clickky{
    background: $clickky;
    padding: 25px 0;
}

#ecoleasing{
    background: $ecoleasing;
    padding: 18px 0;
}

#infratek{
    background: $infratek;
    padding: 29px 0;
}

#city-park{
    background: $city-park;
    padding: 44px 0;
}

#art-print{
    background: $art-print;
    padding: 32px 0;
}

#ultimate-card{
    background: $black;
    padding: 10px 0;
}
